.fgn-connection {
  pointer-events: all;
}

.connection-path {
  transition: stroke 0.2s ease-in-out;
}

.delete-button {
  transition: all 0.2s ease-in-out;
}

.delete-button:hover {
  fill: #C0392B;
  r: 14;
}

