.fgn-canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #f7f8fa;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.fgn-draw-canvas {
    background-color: #f7f8fa;
    background-image: 
        /* Líneas de cuadrícula pequeñas */
        linear-gradient(rgba(0, 0, 0, 0.03) 0.5px, transparent 0.5px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.03) 0.5px, transparent 0.5px),
        /* Líneas de cuadrícula grandes */
        linear-gradient(rgba(0, 0, 0, 0.08) 0.5px, transparent 0.5px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0.5px, transparent 0.5px);
    background-size: 
        10px 10px,
        10px 10px,
        100px 100px,
        100px 100px;
    background-position: 0 0;
    user-select: none;
}